body {
  padding-top: 50px;
  background-color: #c6c6c8;
}
.navbar-header {
  display: flex;
  align-items: center;
}
.navbar-inverse {
  background-color: #c1b2a3;
  border-color: #aaa;
}
.navbar-inverse .navbar-brand {
  color: #222;
}
.navbar-inverse .navbar-brand:hover {
  color: #333;
}
.glyphicon-list-alt {
  padding-right: 15px;
  font-size: 25px;
}
#addTask {
  border: 1px solid lightseagreen;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.content-area {
  margin: 30px;
}
.input-area {
  margin: 25px;
}
.task-text {
  display: flex;
  align-items: center;
  height: 40px;
}
.hidden {
  display: none;
}
.delete-icon-area {
  display: flex;
  align-items: center;
  height: 40px;
}
.delete-icon {
  color: red;
}
.complete {
  text-decoration: line-through;
}
